<!DOCTYPE html>
<html>
<head>
    <title ng-bind="models.helloAngular"></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script language="javascript">
        function personController($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
            $scope.fullName = function () {
                return $scope.firstName + " " + $scope.lastName;

            };
            $scope.salary = 88000;
            $scope.companies = [{ Name: "Google", Position: "Web developer" }, { Name: "Amazon", Position: "CFO" }];
            $scope.books = [{ Title: "AngularJS for Dummy", Price: 13.34 }, { Title: "Data Structure", Price: 25.25 }, { Title: "HTML5 And CSS3", Price: 30.34 }]
        }
    </script>
</head>
<body>
    <div ng-app="" ng-controller="personController">
        <input id="divFirstName" type="text" ng-model="firstName" />
        <input id="divSecondName" type="text" ng-model="lastName" />

        <p>
            Full Name  {{fullName() | uppercase}}
        </p>
        <p>
            Salary {{salary | currency}}
        </p>
        <div ng-repeat="company in companies | orderBy : 'Name'">
            Company: <span ng-bind="company.Name"></span> <br />
            Position: <span ng-bind="company.Position"></span>
        </div>
        <select name="aladinbook">
            <option ng-repeat="book in books | orderBy : 'Title'" value="{{book.Price}}">{{book.Title}} {{book.Price | currency}}</option>
        </select>
    </div>

    

</body>
</html>